<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Workflow Request</title>
        <style type="text/css">
        body
        {
        background:#ffffff url('<%= image_url "monster.jpg" %>') no-repeat left top;
        margin-left: 0%;
        margin-right: 0%;
        font-family: sans-serif;
        }
        .downFrame
        {
        background:#FFD249;
        width: 100%;
        position: absolute;
        bottom: 0px;
        top: 60%;
        margin-left: 0px;
        margin-right: 0px;
        }
        .WFRequest
        {
        text-align:left;
        width: 50%;
        height: 20%;
        margin-left: 45%;
        margin-top: 13%;
        font-family:"Times New Roman", Times, serif;
        font-size: 200%;
        }
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>